<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens</title>
    <link rel="stylesheet" th:href="@{/afazeres.css}">
</head>
<body>
    <div layout:fragment="content" class="feed-container">
        <div class="cards-grid">
            <div class="post-card" th:each="p : ${post}">
                <th></th>
                <div class="card-header">
                    <span class="autor-nome" th:text="${p.autor.nome}">Nome do Autor</span>
                   <span th:class="'visibilidade-badge badge-' + ${#strings.toLowerCase(p.visibilidade)}" 
                        th:text="${p.visibilidade}">
                        PUBLICO
                    </span>
                </div>
                <div class="card-body">
                    <p class="post-texto" th:text="${p.post}">Texto do Post</p>
                </div>
                <div class="options">
                    <form th:action="@{/deletarMensagem/{id}(id=${p.id})}" method="post" style="display: inline;">
                        <button type="submit" class="btn-logout" onclick="return confirm('Tem certeza que deseja excluir?');">
                            Excluir🗑️
                        </button>      
                    </form>
                    <a type="submit" th:href="@{/atualizarPost/{id}(id=${p.id})}" class="btn">
                        Editar ✏️
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>