<!DOCTYPE html>
<html lang="pt-br" 
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Painel Principal - IT To-Do</title>
</head>
<body>
    <div layout:fragment="content">
       <form th:action="@{/atualizarPost}" th:object="${post}" method="post">
            <input type="hidden" th:field="*{id}" />

            <textarea th:field="*{post}" class="post"></textarea>

            <button type="submit" class="btn-primary">Salvar Alterações</button>
        </form>
    </div>
</body>
</html>